@media screen and (max-width: 576px) {
  body {
    max-width: 100%;
  }
  nav,
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav {
    margin-bottom: 0;
  }
  .banner-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .nav-title {
    margin-bottom: 10px;
  }
  nav ul {
    gap: 10px;
  }
  .banner-container {
    text-align: center;
  }
  .banner-text h2 {
    font-size: 2.25rem;
  }
  .banner-text,
  .banner-text p {
    width: 95%;
  }
  .banner-image {
    width: 100%;
  }
  .banner-image img {
    width: 90%;
  }
  .container-one {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.625rem;
    row-gap: 3rem;
    padding: 0;
    justify-content: center;
  }
  .container-one img {
    width: 70%;
  }
  .container-two {
    max-width: 95%;
  }
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .container-two .see-more {
    left: 80%;
  }
}
